
<modal-picture *ngIf="currentModalPicture && !disable_size" dialog-name="{{slider_name}}"
                picture-link="data:image/jpeg;base64,{{currentModalPicture.imageData}}"
                title="Просмотр изображений"></modal-picture>

<div *ngFor="let picture of weighingImagesArray; let i = index">

  <img *ngIf="!picture_size" class="picture-list-style img-fluid"
       src="data:image/jpeg;base64,{{picture.imageData}}"
       [hidden]="!(i == currentPicture)"
       data-toggle="modal" [attr.data-target]="TransfromToId(slider_name)"
       (click)="ApplyDialogPicture(i)" />

  <img *ngIf="picture_size" class="picture-list-style img-fluid"
       src="data:image/jpeg;base64,{{picture.imageData}}" width="{{picture_size}}"
       [hidden]="!(i == currentPicture)"
       data-toggle="modal" [attr.data-target]="TransfromToId(slider_name)"
       (click)="ApplyDialogPicture(i)" />

</div>

<div class="groupOf_btn-purple">
  <div class="left"
       (click)="ChangePicture(false)"> </div>
  <div class="right"
       (click)="ChangePicture(true)"> </div>
</div>
