<modal-content dialog-name="dataFilterDialog" title="Фильтр данных">
    <ul id="dropdown-basic" class="remove-list-marker"
      role="menu" aria-labelledby="button-basic">

    <li class="margin-10px">

      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="font-12px">Выберите диапазон дат с <input [(ngModel)]="filterData.date.from" class="form-control" type="datetime-local" /></div>
          </div>
          <div class="col-md-6">
            <div class="font-12px">По <input [(ngModel)]="filterData.date.to" class="form-control" type="datetime-local" /></div>
          </div>
        </div>
      </div>

    </li>

    <li class="margin-10px">

      <div class="container">
        <div class="font-12px">Тип и статус</div>
        <div class="row">
          <div class="col-md-6">
              <select class="form-control" [(ngModel)]="filterData.typeAndStatus.firstSelection">
                <option value="0">Порожнее</option>
                <option value="1">Груженое</option>
                <option value="2">Тарирование</option>
              </select>
          </div>
          <div class="col-md-6">
            <select class="form-control" [(ngModel)]="filterData.typeAndStatus.secondSelection">
              <option value="0">Неудаленное</option>
              <option value="1">Удаленное</option>
            </select>
          </div>

        </div>
      </div>
    </li>


    <li class="margin-10px">
      <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="font-12px">Введите номер ТС <input [(ngModel)]="filterData.carNumber.carNumber" class="form-control" type="text" /></div> 
              <div class="font-12px margin-top-5px margin-left-5px"><input [(ngModel)]="filterData.carNumber.fullContain" [ngModelOptions]="{standalone: true}" type="checkbox" /> Полное совпадение  </div>
            </div>
            
          </div>
      </div>
    </li>

    <li class="margin-10px">
        <div class="container">
          <div class="font-12px">Справочники</div>
          <div class="row">
            <div class="col-md-6">
            <select class="form-control" [(ngModel)]="filterData.directory.firstSelection">
              <option>1</option>
              <option>1</option>
              <option>1</option>
            </select>
            </div>
            <div class="col-md-6">
              <select class="form-control" [(ngModel)]="filterData.directory.secondSelection">
                <option>1</option>
                <option>1</option>
                <option>1</option>
              </select>
            </div>
          </div>
      </div>
    </li>

    <li class="margin-10px">
      
      <div class="container">
        <div class="font-12px">Значение</div>
        <div class="row">
            <div class="col-md-6">
                <input [(ngModel)]="filterData.values.value" class="form-control" type="text" />
            </div>
            <div class="col-md-6">
              <select class="form-control" [(ngModel)]="filterData.values.selection">
                <option>1</option>
                <option>1</option>
                <option>1</option>
              </select>
            </div>
        </div>
        <div class="font-12px margin-top-5px margin-left-5px"><input [(ngModel)]="filterData.values.fullContain" [ngModelOptions]="{standalone: true}" type="checkbox" /> Полное совпадение  </div>
      </div>
      
    </li>
    <div class="container margin-top-25px">
      <div class="row">
        <div class="col-md-4">
          <li class="text-center"><button class="btn btn-success w-100 pad-15px" (click)="AcceptSearchParameters()"> <div class="font-12px">  Применить </div> </button></li>
        </div>
        <div class="col-md-4">
          <li class="text-center"><button class="btn btn-warning w-100 pad-15px" (click)="ClearSearchParameters()"> <div class="font-12px">  Очистить </div> </button></li>
        </div>
        <div class="col-md-4">
          <li class="text-center"><button class="btn btn-danger w-100 pad-15px" data-dismiss="modal"> <div class="font-12px">  Закрыть </div> </button></li>
        </div>
      </div>
    </div>
  </ul>
</modal-content>

<div class="container">
  <div class="row">
      <div class="col-sm-6">
        <h4 id="tableLabel" class="margin-top-25px">
          Журнал взвешиваний
        </h4>
        <h6 *ngIf="currentPage && data">Страница {{currentPage}}</h6>
      </div>

      <div class="col-sm-6 text-right">
        <!-- dropdownToggle (click)="openDropdown('btn-showFilter')"-->
        <div class="btn-group margin-top-25px" id="btn-showFilter">
          <button id="button-basic" type="button" class="btn btn-secondary dropdown-toggle"
                  aria-controls="dropdown-basic" data-toggle="modal" data-target="#dataFilterDialog"
                   style="margin-bottom: 10px;">
            Фильтр данных <span class="caret"></span>
          </button>
          
        </div>

        <div class="btn-group margin-top-25px margin-left-5px" id="btn-showDataFilter">
          <button id="button-basic" type="button" class="btn btn-secondary dropdown-toggle"
                  aria-controls="dropdown-basic"
                  (click)="openDropdown('btn-showDataFilter')" style="margin-bottom: 10px;">
            Фильтр столбцов <span class="caret"></span>
          </button>
          <ul id="dropdown-basic" class="dropdown-menu ul-max-height"
              role="menu" aria-labelledby="button-basic">

            <li><label class="checkbox font-12px"><input (click)="dropDownCheckedState(0)" type="checkbox" [checked]="filterState[0]" class="margin-10px">Дата / время</label></li>
            <li><label class="checkbox font-12px"><input (click)="dropDownCheckedState(1)" type="checkbox" [checked]="filterState[1]" class="margin-10px">Вес</label></li>
            <li><label class="checkbox font-12px"><input (click)="dropDownCheckedState(2)" type="checkbox" [checked]="filterState[2]" class="margin-10px">Тип</label></li>
            <li><label class="checkbox font-12px"><input (click)="dropDownCheckedState(3)" type="checkbox" [checked]="filterState[3]" class="margin-10px">Предыдущее</label></li>
            <li><label class="checkbox font-12px"><input (click)="dropDownCheckedState(4)" type="checkbox" [checked]="filterState[4]" class="margin-10px">Пред. вес</label></li>
            <li><label class="checkbox font-12px"><input (click)="dropDownCheckedState(5)" type="checkbox" [checked]="filterState[5]" class="margin-10px">Нетто</label></li>
            <li><label class="checkbox font-12px"><input (click)="dropDownCheckedState(6)" type="checkbox" [checked]="filterState[6]" class="margin-10px">ГРЗ ТС</label></li>
            <li><label class="checkbox font-12px"><input (click)="dropDownCheckedState(7)" type="checkbox" [checked]="filterState[7]" class="margin-10px">Владелец ТС	</label></li>
            <li><label class="checkbox font-12px"><input (click)="dropDownCheckedState(8)" type="checkbox" [checked]="filterState[8]" class="margin-10px">ГРЗ прицепа</label></li>
            <li class="text-center"><button class="btn btn-danger" (click)="openDropdown('btn-showDataFilter')"> <div class="font-12px">  Закрыть </div> </button></li>

          </ul>
        </div>

      </div>
    </div>
</div>

<modal-picture *ngIf="currentModalPicture" dialog-name="picture-modal"
               picture-link="data:image/jpeg;base64,{{currentModalPicture.imageData}}"
               title="Просмотр изображений"></modal-picture>

<div class="full-height margin-top-10p flex-center" *ngIf="!data">
  <img src="./assets/images/loading.gif" height="150" />
</div>

<modal-info *ngIf="currentDialogData"
            dialog-name="expanded-data"
            title="Информация о взвешивании"
            [data]="currentDialogData"></modal-info>

<div class="block-overflow" *ngIf="data">
  <table class='table table-striped ' aria-labelledby="tableLabel">
    <thead>
      <tr>
        <th></th>
        <th *ngIf="filterState[0]">Дата / время</th>
        <th *ngIf="filterState[1]">Вес</th>
        <th *ngIf="filterState[2]">Тип</th>
        <th *ngIf="filterState[3]">Предыдущее</th>
        <th *ngIf="filterState[4]">Пред. вес</th>
        <th *ngIf="filterState[5]">Нетто</th>
        <th *ngIf="filterState[6]">ГРЗ ТС</th>
        <th *ngIf="filterState[7]">Владелец ТС</th>
        <th *ngIf="filterState[8]">ГРЗ прицепа</th>
      </tr>
    </thead>

    <!-- Лимит в 5 записей -->

    <tbody>
      <tr *ngFor="let log of data.response; let currentElement = index">

        <td class="text-center">
          <!-- <weighing-slider [weighing-picture-array]="log.weighingImages" picture-size="150" slider-name="logInfoSlider"></weighing-slider>-->
          <button class="btn btn-purple margin-top-10px" data-target="#expanded-data" data-toggle="modal" (click)="SetCurrentDialogData(currentElement)">Подробнее</button>
        </td>
        <td *ngIf="filterState[0]">  {{ log.timeStamp | date:'dd/MM/yyyy h:mm:ss'}}</td>
        <td *ngIf="filterState[1]">  {{ log.weight }}</td>
        <td *ngIf="filterState[2]">  {{ log.type == 0 ? 'порожнее' : 'груженое' }} </td>
        <td *ngIf="filterState[3]">  {{ log.previousWeighing == null ? ('—') : (log.previousWeighing.timeStamp | date:'dd/MM/yyyy h:mm:ss') }}</td>
        <td *ngIf="filterState[4]">  {{ log.previousWeighing == null ? ('—') : (log.previousWeighing.weight) }} </td>
        <td *ngIf="filterState[5]">  {{ log.previousWeighing == null ? ('—') : (log.weight-log.previousWeighing.weight) }} </td>
        <td *ngIf="filterState[6]">  {{ log.vehiclePlate }}</td>
        <td *ngIf="filterState[7]">  {{ log.vehicle.owner == null ? ('—') : (log.vehicle.owner) }} </td>
        <td *ngIf="filterState[8]">  {{ log.trailerPlate == null ? ('—') : (log.trailerPlate) }} </td>
      </tr>
    </tbody>

  </table>
</div>

<div *ngIf="data">
  <div class="navigation">

    <!-- Если на данный момент в списке страниц нет 1-ой страницы - показываем кнопку назад  -->
    <a *ngIf="isShowPrevButton" [routerLink]="['/weighinglog-data', currentPageArrayNumbers[0] - 1]" (click)="UpdatePrevPageNumber(currentPageArrayNumbers[0] - 1)">Назад</a>

    <!-- Номера страниц -->
    <a [routerLink]="['/weighinglog-data', pageNumber]"
       (click)="UpdateContent(pageNumber)"
       *ngFor="let pageNumber of currentPageArrayNumbers">{{pageNumber}}</a>

    <!--Кнопка дальше -->

    <a *ngIf="!isThisFinishPage" [routerLink]="['/weighinglog-data', lastPageNumber]"
       (click)="UpdateNextPageNumber(lastPageNumber)">Дальше</a>


  </div>
</div>

