<h4 id="tableLabel" class="margin-top-25px"> Экспорт данных  </h4>

<modal-content dialog-name="dataExport" title="Настройки экспорта журнала">
   <div>Выберите промежуток времени: </div>
  <input class="form-control" type="datetime-local" id="firstDate"/>
  <div>по</div>
  <input class="form-control" type="datetime-local" id="secondDate"/>
  <button class="btn btn-primary margin-top-10px" (click)="ExportListData()" id="ExportButton">Выгрузить</button>

</modal-content>

<div class="group_of-square-2-column margin-top-50px">

  <div class="middle-white-text" data-toggle="modal" data-target="#dataExport"> Выгрузить  <br> журнал взвешиваний </div>

</div>
