<h4 id="tableLabel" class="margin-top-25px">
  Недавние взвешивания
</h4>

<div class="full-height margin-top-10p flex-center" *ngIf="!data">
  <img src="./assets/images/loading.gif" height="150" />
</div>

<modal-picture
    *ngIf="currentModalPicture" dialog-name="picture-modal"
    picture-link="data:image/jpeg;base64,{{currentModalPicture.imageData}}"
    title="Просмотр изображений"></modal-picture>

<div class="recent-weighing-group margin-top-5p">
  <div *ngFor="let log of data; let currentElement = index">
    <div class="content">
      <div class="date">&mdash; {{ log.timeStamp | date:'MM/dd/yyyy h:mm:ss'}} &mdash;</div>
      <div class="picture">
        <div *ngFor="let picture of log.weighingImages; let i = index">
          <img class="picture-list-style img-fluid"
               src="data:image/jpeg;base64,{{picture.imageData}}"
               [hidden]="!(i == slideHomeState[currentElement])"
               (click)="SetModalPicture(currentElement, i)"
               data-toggle="modal" data-target="#picture-modal" />
        </div>
        <div class="groupOf_btn-purple" >
          <div class="left" (click)="ChangeHomeSlidePicture(currentElement, false)"> </div>
          <div class="right" (click)="ChangeHomeSlidePicture(currentElement, true)"> </div> 
        </div>

      </div>
      <div class="more-info">
        <button class="btn btn-purple">Подробнее</button>
      </div>
    </div>
  </div>

</div>
