<header>
  <div style="background-color: #827af7">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light navbar-custom container">
      <div class="container">
        <a class="navbar-brand" [routerLink]="['/']"><img src="assets/images/calendar.png" width="65" height="66" /></a>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target=".navbar-collapse"
                aria-label="Toggle navigation"
                [attr.aria-expanded]="isExpanded"
                (click)="toggle()">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
             [ngClass]="{ show: isExpanded }">
          <ul class="navbar-nav flex-grow">
            <li class="nav-item"
                [routerLinkActive]="['link-active']"
                [routerLinkActiveOptions]="{ exact: true }">

              <a class="btn btn-light" [routerLink]="['/']"><img src="assets/images/home.png" height="20" />Главная</a>
            </li>

            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="btn btn-light" [routerLink]="['/weighinglog-data/1']"><img src="assets/images/folder.png" height="20" />Журнал</a>
            </li>

            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="btn btn-light" [routerLink]="['export-data']"><img src="assets/images/clipboard.png" height="20" />Экспорт</a>
            </li>

            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="btn btn-light" [routerLink]="['control-data']"><img src="assets/images/switch.png" height="20" />Управление</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

</header>
